@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

// Add colors to css variables
:root {
  --color-primary: #f05454;
  --color-secondary: #f5f5f5;
  --color-bg: #222831;
  --color-bg-light: #30475e;
  --color-text-primary: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-bg);
  font-family: "Rubik";
  color: var(--color-text-primary);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
