.wrapper {
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 260px;
  height: 360px;

  background-color: var(--color-primary);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;

  h2 {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  span {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .setting {
    margin-top: 30px;
  }

  input {
    -webkit-appearance: none;
    height: 6px;
    width: 185px;
    background: linear-gradient(
      90deg,
      var(--color-input-bg-progress) 50%,
      var(--color-primary-dark) 0%
    );
    border-radius: 3px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      background: var(--color-input-thumb);
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
